
@{
    ViewBag.Title = "APolicy";
}

<h2>Attendance Policy</h2>
<p>
    It is important that students ensure that their punctuality is kept at a high amount in order to make the most of their learning while at school. This is why we have implemented this absence system in order to record your absences. The current policy for absence is as followed:
    Under 5 absences will lead to a approval letter.
    5 or more absences will lead to a warning letter.
    If absences reach an inconsiderable amount then there may be formal caution.
    Please accurately state your absence number for this month and state your reason.
    Thank you, School Attendance Team
</p>
